
_debug

/_solutions/*.suo

/liquicode.AppTools._UnitTests/obj
/liquicode.AppTools._FormTests/obj
/liquicode.AppTools.Ciphers/obj
/liquicode.AppTools.DataManagement/obj
/liquicode.AppTools.DataStructures/obj
/liquicode.AppTools.Dictionaries/obj
/liquicode.AppTools.FileSystem/obj
/liquicode.AppTools.Imaging/obj
/liquicode.AppTools.Parsing/obj
/liquicode.AppTools.Sockets/obj
/liquicode.AppTools.VisualComponents/obj
/liquicode.AppTools.Windowing/obj

/_release/nunit.framework.xml
/_release/liquicode.AppTools._UnitTests.dll.VisualState.xml
